<div id="lesson-section">
    <h2>学習を進めていくことに困ったとき</h2>
    <p>自分で学習を進めていくことが難しいと感じた場合は、プログラミングの個人レッスンをご検討ください。筆者はプログラミング歴13年、メンター歴3年のエンジニアです。40名以上の指導実績があり、プログラミング学習、エンジニア転職のお手伝いをしております。お申し込みは「<a href="/lesson">プログラミングレッスン</a>」のページよりお申し込みください。</p>
</div>