<% /* LTech広告 */ %>
    <div class="ltech-ad">
        <a href="https://learning-tech.jp/" target="_blank" rel="noopener">
            <img src="https://learning-tech.jp/assets/images/lts-logo.png" alt="LTech - プログラミング学習サイト" width="300">
            <p>LTech - プログラミング学習ならここで学ぼう</p>
        </a>
    </div>